<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @town.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @town.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @town.longitude %>
</p>

<h2>Weather for the <%= @town.currentDate %></h2>

<p>
  <strong>Weather:</strong>
  <%= @town.longitude %>
</p>

<p>
  <strong>Apparent temperature:</strong>
  <%= @town.longitude %>
</p>

<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
