<p id="notice"><%= notice %></p>

<h1>
  <strong>Town overview :</strong>
</h1>

<p>
  <strong>Name :</strong>
  <%= @town.name %>
</p>

<p>
  <strong>Latitude :</strong>
  <%= @town.latitude %>
</p>

<p>
  <strong>Longitude :</strong>
  <%= @town.longitude %>
</p>

<h3>Weather for the <%= @currentDate %> :</h3>

<p>
  <strong>Weather:</strong>
  <%= @forecast.currently.summary %>
</p>

<p>
  <strong>Apparent temperature:</strong>
  <%= @forecast.currently.apparentTemperature %>
</p>

<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
